<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inscripciones de Cursos</title>
</head>

<body>
    <h1>Inscribir Estudiante en un Curso</h1>
    <form action="/inscribir" method="POST">
        <label>Estudiante:</label>
        <select name="estudiante_id" required>
            {% for estudiante in estudiantes %}
            <option value="{{ estudiante.id_estudiante }}">{{ estudiante.nombre }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>Curso:</label>
        <select name="curso_id" required>
            {% for curso in cursos %}
            <option value="{{ curso.id_curso }}">{{ curso.nombre_curso }}</option>
            {% endfor %}
        </select>

        <br><br>
        <button type="submit">Inscribir</button>
    </form>

    <hr>
    <a href="/estudiantes">Ver Estudiantes</a> |
    <a href="/cursos">Ver Cursos</a>
</body>

</html>