<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Lista de Mascotas</title>
</head>

<body>

    <h1>Mis Mascotas</h1>

    {% if todas_mascotas %}

    {% for una_mascota in todas_mascotas %}

    <div>
        <h2>{{ una_mascota.nombre }}</h2>

        <p>
            Tipo: {{ una_mascota.tipo }}
        </p>

        <p>
            Color: {{ una_mascota.color }}
        </p>
    </div>

    <hr>

    {% endfor %}

    {% else %}

    <p>No hay mascotas registradas.</p>

    {% endif %}

</body>

</html>