<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lista de Mascotas</title>
</head>

<body>

    <h1>Lista de Mascotas</h1>

    {% if mascotas %}

    {% for mascota in mascotas %}

    <div>
        <h2>{{ mascota.nombre }}</h2>

        <p>
            Tipo: {{ mascota.tipo }}
        </p>

        <p>
            Color: {{ mascota.color }}
        </p>
    </div>

    <hr>

    {% endfor %}

    {% else %}

    <p>No hay mascotas registradas.</p>

    {% endif %}

</body>

</html>